
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title> 
    
    
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>
<body>

    <div class="header">
        <a href="/">Home</a>
        <a href="/tractorSearch">Tractor Search</a>
        <a href="/tractorDetails">Tractor Details</a>

    </div>
<h1>Tractor Search</h1>
<div>


{{#if tractorData}}

    {{#tractorData}}
    <div class="listing">
        <h4>Title: {{title}}</h4>
        <h4>Description: {{{description}}}</h4>
        <img src="{{image}}" width="500" />
        <h4>VIN: {{vin}}</h4>
    </div>
    {{/tractorData}}
{{else}}
    <h3>Search our secure database for tractor listings.</h3>
    <h3>No results for " <div style="font-size: 1.5em; color:#ff9696; display: initial;">{{{search}}}</div> "</h3>
{{/if}}




    {{!-- {{tractorData}} --}}
</div>


<!-- check out this error to fix it https://trac-list.thismaybedown.online/tractorSearch?vin=%27 -->
<form action="/tractorSearch" method="get" class="search">
<input type="text" name="vin" id="vin" placeholder="Tractor VIN">
<button type="submit" >Search</button>
</form>

    
</body>
</html>